### Naive Bayes 실습
-

In [ ]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB

In [2]:
import pandas as pd

In [4]:
iris = datasets.load_iris()
df_x = pd.DataFrame(iris.data)
df_y = pd.DataFrame(iris.target)

In [6]:
df_x.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [7]:
df_y.head()

   0
0  0
1  0
2  0
3  0
4  0

- model fitting

In [8]:
gnb=GaussianNB()

In [9]:
fitted=gnb.fit(iris.data,iris.target)

In [10]:
y_pred=fitted.predict(iris.data)

In [11]:
fitted.predict_proba(iris.data)[[1,48,51,100]]

array([[1.00000000e+000, 1.51480769e-017, 2.34820051e-025],
       [1.00000000e+000, 2.63876217e-018, 2.79566024e-025],
       [7.27347795e-102, 9.45169639e-001, 5.48303606e-002],
       [3.23245181e-254, 6.35381031e-011, 1.00000000e+000]])

In [17]:
fitted.predict(iris.data)[[1,48,51,100]]

array([0, 0, 1, 2])

In [14]:
from sklearn.metrics import confusion_matrix

In [15]:
confusion_matrix(iris.target,y_pred)

array([[50,  0,  0],
       [ 0, 47,  3],
       [ 0,  3, 47]], dtype=int64)